/* src/styles/SectorsSection.module.css */

.sectorsSection {
  background-color: #ffffff; /* Fond blanc pour cette section */
  padding: 4rem 2rem; /* Padding pour l'espacement */
  text-align: center; /* Centre le titre */
  color: #333333; /* Couleur de texte par défaut */
  margin: 0 auto; /* Pour centrer si la largeur maximale est définie */
  max-width: 1440px; /* Limite la largeur de la section */
}

.sectionTitle {
  font-size: 2.2rem; /* Taille du titre de section */
  font-weight: 700;
  margin-bottom: 3rem; /* Espacement après le titre */
  color: #0c1a25; /* Couleur du titre, foncée */
  
}

.gridContainer {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(180px, 1fr)); /* Grille responsive, min 180px par colonne */
  gap: 2.5rem 1.5rem; /* Espacement vertical et horizontal entre les cartes */
  max-width: 1200px; /* Largeur maximale pour la grille */
  margin: 0 auto; /* Centre la grille */
}

.sectorCard {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1.5rem; /* Padding interne de chaque carte de secteur */
  /* background-color: #f9f9f9; /* Optionnel: léger fond pour chaque carte */
  border-radius: 8px; /* Bords arrondis */
  /* box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05); /* Optionnel: légère ombre */
  text-align: center;
}

.sectorImage {
  width: 120px; /* Taille de l'image, ajustable */
  height: 120px; /* Assurez-vous que l'aspect ratio est maintenu par Next/image */
  object-fit: contain; /* S'assure que l'image tient dans les dimensions sans être coupée */
  margin-bottom: 1rem; /* Espacement entre l'image et le texte */
}

.sectorName {
  font-size: 1.1rem; /* Taille du texte du secteur */
  font-weight: 500; /* Semi-gras */
  color: #0c1a25;
}

/* Media Queries pour ajustements sur différents écrans */
@media (min-width: 768px) {
  .gridContainer {
    grid-template-columns: repeat(4, 1fr); /* 4 colonnes sur les tablettes/ordinateurs */
  }
}

@media (min-width: 1024px) {
  .gridContainer {
    grid-template-columns: repeat(4, 1fr); /* Toujours 4 colonnes sur les grands écrans */
    gap: 3rem 2rem; /* Plus d'espace entre les cartes sur les grands écrans */
  }
}
